In [111]:
import plotly
import plotly.graph_objects as go
import pandas as pd
import numpy as np

In [112]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import pandapower.networks as pn

In [113]:
class CasoDeEstudo:
   
    def __init__(self,net) -> None:
        self.net = net
        self.DLOAD()
        
        
    def DMED(self):
        pass
    
    def DLOAD(self):
        def gerar_valores_distribuicao_normal(valores_referencia, desvio_padrao_percentual=13.33):
            # Calcula o desvio padrão com base no percentual
            desvios_padrao = valores_referencia * (desvio_padrao_percentual / 100)
            # Gera valores aleatórios dentro da distribuição normal para cada valor de referência
            valores_sorteados = np.random.normal(loc=valores_referencia, scale=desvios_padrao)
            
            return valores_sorteados

        # Exemplo de uso
        valores_referencia = self.net.load       
        self.net.load['p_mw'] = gerar_valores_distribuicao_normal(valores_referencia['p_mw'])
        self.net.load['q_mvar'] = gerar_valores_distribuicao_normal(valores_referencia['q_mvar'])

In [114]:
sistema = pn.case_ieee30
net = sistema()
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type,controllable
0,None,1,21.7,12.7,0.0,0.0,NaN,1.0,True,None,False
1,None,2,2.4,1.2,0.0,0.0,NaN,1.0,True,None,False
2,None,3,7.6,1.6,0.0,0.0,NaN,1.0,True,None,False
3,None,4,94.2,19.0,0.0,0.0,NaN,1.0,True,None,False
4,None,6,22.8,10.9,0.0,0.0,NaN,1.0,True,None,False
5,None,7,30.0,30.0,0.0,0.0,NaN,1.0,True,None,False
6,None,9,5.8,2.0,0.0,0.0,NaN,1.0,True,None,False
7,None,11,11.2,7.5,0.0,0.0,NaN,1.0,True,None,False
8,None,13,6.2,1.6,0.0,0.0,NaN,1.0,True,None,False
9,None,14,8.2,2.5,0.0,0.0,NaN,1.0,True,None,False
10,None,15,3.5,1.8,0.0,0.0,NaN,1.0,True,None,False
11,None,16,9.0,5.8,0.0,0.0,NaN,1.0,True,None,False
12,None,17,3.2,0.9,0.0,0.0,NaN,1.0,True,None,False
13,None,18,9.5,3.4,0.0,0.0,NaN,1.0,True,None,False
14,None,19,2.2,0.7,0.0,0.0,NaN,1.0,True,None,False
15,None,20,17.5,11.2,0.0,0.0,NaN,1.0,True,None,False
16,None,22,3.2,1.6,0.0,0.0,NaN,1.0,True,None,False
17,None,23,8.7,6.7,0.0,0.0,NaN,1.0,True,None,False
18,None,25,3.5,2.3,0.0,0.0,NaN,1.0,True,None,False
19,None,28,2.4,0.9,0.0,0.0,NaN,1.0,True,None,False
20,None,29,10.6,1.9,0.0,0.0,NaN,1.0,True,None,False

In [115]:
cenario = CasoDeEstudo(net=net)
cenario.net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type,controllable
0,None,1,24.146395,13.049187,0.0,0.0,NaN,1.0,True,None,False
1,None,2,2.233690,1.067456,0.0,0.0,NaN,1.0,True,None,False
2,None,3,7.688584,1.536672,0.0,0.0,NaN,1.0,True,None,False
3,None,4,87.528562,22.916219,0.0,0.0,NaN,1.0,True,None,False
4,None,6,23.203024,12.810060,0.0,0.0,NaN,1.0,True,None,False
5,None,7,20.913587,29.982624,0.0,0.0,NaN,1.0,True,None,False
6,None,9,4.679125,2.185706,0.0,0.0,NaN,1.0,True,None,False
7,None,11,10.667996,8.066858,0.0,0.0,NaN,1.0,True,None,False
8,None,13,6.252702,2.218394,0.0,0.0,NaN,1.0,True,None,False
9,None,14,7.661954,2.755701,0.0,0.0,NaN,1.0,True,None,False
10,None,15,3.336358,1.707219,0.0,0.0,NaN,1.0,True,None,False
11,None,16,7.746498,5.438809,0.0,0.0,NaN,1.0,True,None,False
12,None,17,3.980203,0.937985,0.0,0.0,NaN,1.0,True,None,False
13,None,18,10.582886,2.937549,0.0,0.0,NaN,1.0,True,None,False
14,None,19,2.005507,0.764423,0.0,0.0,NaN,1.0,True,None,False
15,None,20,14.411547,13.185853,0.0,0.0,NaN,1.0,True,None,False
16,None,22,3.632575,1.358809,0.0,0.0,NaN,1.0,True,None,False
17,None,23,8.169761,6.052100,0.0,0.0,NaN,1.0,True,None,False
18,None,25,4.031739,1.836421,0.0,0.0,NaN,1.0,True,None,False
19,None,28,2.413718,0.855148,0.0,0.0,NaN,1.0,True,None,False
20,None,29,11.043466,2.191960,0.0,0.0,NaN,1.0,True,None,False